<div class="sidebar" data-color="purple" data-background-color="black" data-image="static/img/sidebar-2.jpg">
    <div class="logo"><a href="javascript:void(0)" class="simple-text logo-normal">
            Nhóm 11
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="material-icons">dashboard</i>
                    <p>Monitors</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/asset">
                    <i class="material-icons">content_paste</i>
                    <p>Table List</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/typography">
                    <i class="material-icons">library_books</i>
                    <p>Typography</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/icons">
                    <i class="material-icons">bubble_chart</i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/notifications">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
    </div>
</div>