<div class="row justify-content-center">
    <div class="col-12 col-lg-4 col-md-4">
        <form action="admin" class="form-container txt-color-primary d-block" method="GET">
            <div class="card-header form-header bg-violet">
                <h3 class="card-title text-center">Đăng nhập</h1>
            </div>
            <div class="card-body form-body">
                <div class="form-group">
                    <input type="text" id="usr" name="usr" class="form-control" placeholder="Email hoặc tên đăng nhập"></input>
                </div>
                <div class="form-group">
                    <input type="password" id="pwd" name="pwd" class="form-control" placeholder="Mật khẩu">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Đăng nhập</button>
                </div>
            </div>
            
        </form>
    </div>
</div>