<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Xin chào <%- localData.username %></h4>
            <p class="card-category">Cập nhật thông tin cá nhân</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Tên đầy đủ</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Địa chỉ email</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Tên đăng nhập</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Mật khẩu</label>
                    <input type="password" class="form-control">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">Cập nhật</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>